<h1><%= @song.title %></h1>
<h3><%= @song.length%></h3>
<h3><%= @song.rating %></h3>

<p>Genres for this Song:</p><br>
<% @song.genres.each do |genre| %>
  <%= genre.name %>
<% end %>

Other songs with this rating
<% if @same_rated.empty? == false %>
  <% @same_rated.each do |song| %>
    <%= song.title %>
  <% end %>
<% else %>
  No songs found with this rating
<% end %>
